@import url("https://fonts.googleapis.com/css?family=Yrsa:400,700");
@import url("https://fonts.googleapis.com/css?family=Rubik+One");
body {
  background-color: lightblue;
  width: 90%;
  margin-left: 5%;
  font-family: 'Yrsa', serif; }

h1 {
  text-align: center; }

h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0px; }

h3 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 10px;
  margin-top: 10px; }

.mainPanel {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 15px; }

.list {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 30%; }

.Queue {
  background-image: url("/images/post-it-pink.png");
  background-size: cover;
  height: 280px; }

.Progress {
  background-image: url("/images/post-it-yellow.png");
  background-size: cover;
  height: 280px; }

.Done {
  background-image: url("/images/postitgreen.png");
  background-size: cover;
  height: 280px; }

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
  margin-bottom: 5px;
  margin-left: 13px;
  -webkit-transform: rotate(-5.5deg);
  color: #1B8F15; }

.buttonL, .buttonR {
  font-family: 'Yrsa', serif;
  background-color: #DEE4E8;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #555555; }

.buttonL:hover, .buttonR:hover {
  background-color: #75746E;
  color: white; }

.text {
  margin-left: 30px;
  margin-top: 19%;
  -webkit-transform: rotate(-5.5deg); }
.text p {
    margin-top: 6px;
    margin-bottom: 6px; }
.text p span {
      font-weight: bold; }

.addPanel {
  display: flex;
  justify-content: space-around; }

.loginPanel {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around; }

.headerTag {
  display: flex;
  justify-content: space-around; }
